<html>
  <head>
  </head>

  <body>
    <svg><title>twitter</title><use href="/src/icons/sprites/brands.svg#twitter"></use></svg>
    <svg><title>facebook</title><use href="/src/icons/sprites/brands.svg#facebook"></use></svg>
    <svg><title>facebook-square</title><use href="/src/icons/sprites/brands.svg#facebook-square"></use></svg>
    <svg><title>linkedin</title><use href="/src/icons/sprites/brands.svg#linkedin"></use></svg>
    <svg><title>linkedin-square</title><use href="/src/icons/sprites/brands.svg#linkedin-square"></use></svg>
    <svg><title>instagram</title><use href="/src/icons/sprites/brands.svg#instagram"></use></svg>
    <svg><title>youtube</title><use href="/src/icons/sprites/brands.svg#youtube"></use></svg>
    <svg><title>pinterest</title><use href="/src/icons/sprites/brands.svg#pinterest"></use></svg>
    <svg><title>pinteres-square</title><use href="/src/icons/sprites/brands.svg#pinterest-square"></use></svg>
  </body>
</html>
