<html>
  <head>
  </head>

  <body>
    <svg><title>seed</title><use href="/src/icons/sprites/symbols.svg#seed"></use></svg>
    <svg><title>seed-alt1</title><use href="/src/icons/sprites/symbols.svg#seed-alt1"></use></svg>
    <svg><title>seed-alt2</title><use href="/src/icons/sprites/symbols.svg#seed-alt2"></use></svg>
    <svg><title>delete-button</title><use href="/src/icons/sprites/symbols.svg#delete-button"></use></svg>

    <svg><title>phone-handset</title><use href="/src/icons/sprites/symbols.svg#phone-handset"></use></svg>
    <svg><title>phone-mobile</title><use href="/src/icons/sprites/symbols.svg#phone-mobile"></use></svg>
    <svg><title>phone-mobile-alt</title><use href="/src/icons/sprites/symbols.svg#phone-mobile-alt"></use></svg>
    <svg><title>phone-iphone</title><use href="/src/icons/sprites/symbols.svg#phone-iphone"></use></svg>
    <svg><title>phone-fax</title><use href="/src/icons/sprites/symbols.svg#phone-fax"></use></svg>
    <svg><title>phone-fax-alt</title><use href="/src/icons/sprites/symbols.svg#phone-fax-alt"></use></svg>

    <svg><title>fax</title><use href="/src/icons/sprites/symbols.svg#fax"></use></svg>
    <svg><title>fax-alt1</title><use href="/src/icons/sprites/symbols.svg#fax-alt1"></use></svg>
    <svg><title>fax-alt2</title><use href="/src/icons/sprites/symbols.svg#fax-alt2"></use></svg>

    <svg><title>envelope</title><use href="/src/icons/sprites/symbols.svg#envelope"></use></svg>
    <svg><title>location</title><use href="/src/icons/sprites/symbols.svg#location"></use></svg>
    <svg><title>location-alt</title><use href="/src/icons/sprites/symbols.svg#location-alt"></use></svg>
    <svg><title>gotoweb</title><use href="/src/icons/sprites/symbols.svg#gotoweb"></use></svg>

  </body>

</html>
